.entry {
  background-color: #222;
  opacity: 0.9;
}

span{
  color: #FFAF07;
  font-family: "Kanit";
  font-size: 17pt;
}

button {
  margin-left: 10px;
  background-color: transparent !important;
  color: #666;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
  margin-bottom: 10px;
  text-transform: uppercase;
  &:hover {
    color: #ddd !important;
  }
}

mat-icon{
  margin-top: 5px;
  margin-left: 5px;
  font-size: 100%;
}

input {
  height: 17px;
  background-color: #333;
  border-radius: 4pt;
  font-family: "Kanit";
  font-size: 17pt;
  color: #81ef0b;
  height: 40px;
  padding-left: 10px;
}
