span{
  color: #FFAF07;
  font-family: "Kanit";
}

button {
  margin-left: 10px;
  background-color: transparent !important;
  color: #666;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
  margin-bottom: 10px;
  text-transform: uppercase;
  &:hover {
    color: #ddd !important;
  }
}

mat-icon{
  margin-top: 5px;
  margin-left: 5px;
}

input {
  height: 17px;
  background: #ddd;
  border-radius: 4pt;
}
