#header{
  width: 1067px;
  display: inline-block;
}

span{
  text-transform: uppercase;
  width: 600px;
  height: 50px;
  overflow-x: hidden;
  border: 1pt #444 solid;
  border-radius: 4pt;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #333;
  white-space: nowrap;
}

.info {
  padding-top: 10px;
  font-family: "Kanit";
  color: #ee24f5;
  font-size: 17pt;
}

button{
  margin-right: 20px;
  cursor: pointer;
  color: #666;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
  &:hover {
    color: #81ef0b;
  }
}

mat-icon{
  font-size: 130%;
}
