#header{
  width: 1067px;
  display: inline-block;
}

span{
  text-transform: uppercase;
}

.info {
  padding-top: 10px;
  font-family: "Kanit";
  color: #ee24f5;
  font-size: 17pt;
}

button{
  cursor: pointer;
  color: #666;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
  &:hover {
    color: #81ef0b;
  }
}

mat-icon{
  font-size: 130%;
}
