mat-icon {
  padding-top: 5px;
  padding-right: 5px;
  font-size: 100%;
}

button {
  background-color: transparent !important;
  color: #666;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
  &:hover {
    color: #81ef0b;
  }
}
