mat-menu {
  float: right;
  color: #666;
  background-color: transparent;
}

mat-icon {
  padding-right: 5px;
}

button {
  float: right;
  background-color: transparent !important;
  color: #666;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
  &:hover {
    color: #ddd;
  }
}

span{
  text-transform:uppercase;
}
