mat-menu {
  float: right;
  color: #666;
  background-color: transparent;
  z-index: 10;
}

mat-icon {
  padding-top: 5px;
  padding-right: 5px;
  font-size: 100%;
}

button {
  float: right;
  background-color: transparent !important;
  color: #666;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
  z-index: 10;
  &:hover {
    color: #81ef0b;
  }
}

span{
  text-transform:uppercase;
}
