/* You can add global styles to this file, and also import other style files */
body {
  background-color: #222;
}

h1{
  color: #81ef0b;
  font-family: 'Baloo Bhai', cursive;
  font-size: 250%;
  margin-left: 10px;
  margin-top: -5px;
  margin-bottom: -10px;
}
