/* You can add global styles to this file, and also import other style files */
body {
  background-color: #222;
  margin: 2em;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-image: url("./assets/fatou.jpg");   */
}

h1, button {
  color: #81ef0b;
  font-family: "Syncopate" , sans-serif;
  font-size: 250%;
}

button {
  background-color: #222;
  border: none;
}